.formControl{
    background-image: url('');
    position: relative;
   width:800px;
   padding: 30px;
  background-color:rgb(5, 5, 34);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

input{
    width: 30rem;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: hsl(257, 7%, 63%);;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
button{
    margin-left: 5px;
    padding: 15px 30px;
    border-radius: 6px;
    background-color:hsl(180, 66%, 49%);
    color: white;
    border-style: none;
 
}