.stats-info {
  width: 430px;
  text-align: center;
  /* margin-left:500px;
    margin-top: ; */
  margin: 4rem auto 0rem auto;
}
.box {
  /* padding-top: 15rem; */
  text-align: center;
}
.about-us {
  display: flex;
  position: relative;
  align-items: center;
  width: 47%;
  margin: 5rem auto;
}
.brand {
  padding: 25px;
  width: 19rem;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
article > img {
  padding: 15px;
  background-color: hsl(257, 27%, 26%);
  border-radius: 10rem;
  position: relative;
  bottom: 4.5rem;
  width: 5rem;
}

.dets {
  position: relative;
  bottom: 3rem;
}

.list2 {
  position: relative;
  top: 2rem;
  left: 2rem;
}
.list3 {
  position: relative;
  top: 4.2rem;
  left: 4rem;
}
.page2 {
  width: 100%;
  background-color: hsl(264, 15%, 94%);
  margin-top: 10rem;
  padding-bottom: 5rem;
}
